<!DOCTYPE html>
<html>
  <head>
    <title>Voote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header"> 
      <% if user_signed_in? %>
        <ul class="user_menu">
          <li class="menu_btn">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
